* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* [role=button] {
  cursor: pointer;
}

.app-content {
 padding-top: 60px !important;
}

.error-message {
  min-height: 22px;
}

.error-message small {
  font-weight: bold;
}  

form.disabled {
  opacity: 0.6;
}

.modal {
  background-color: rgba(0,0,0,0.1);
}
